.feature-item {
    position: relative;
    
    padding-bottom: 2.5rem;

    @include atSmall {
        padding-left: 94px;
    }

    &__icon {
        display: block;
        margin: 0 auto;

        height: 4rem;
        width: 4rem;

        @include atSmall{
            position: absolute;
            left: 0;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 1.6rem;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;

        @include atSmall{
            margin-top: 1em;
            font-size: 1.875rem;
            text-align: left;
        }
    }

    
}