@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";


$mainBlue: #2f5572;

body {

  color: rgba($mainBlue, 0.8);
  padding: 25px;
  margin: 11px;
  columns: 300px 4;
}

.box {
  a {
    display: block;
    padding: 10px;
  }
}

.header {

  &__logo-box {
    position: absolute;
  }
}